body{
    background-color: black;
    color:white;
}
.card{
    color: black;
    box-shadow: 3px 3px 10px -3px rgb(224, 240, 4) ;

}
.card_name{
    font-weight: bolder;
}
.card_recovered{
    background-color: greenyellow;
    color: rgb(21, 62, 185);

}
.card_confirmed{
    background-color: rgb(57, 54, 236);
    color: rgb(255, 255, 255);

}
.card_death{
    background-color: rgb(241, 6, 37);
    color: rgb(255, 255, 255);

}
.card_total{
    font-weight: bold;
}
.card_active{
    background-color: rgb(0, 255, 213);
    color: black;
}
.live_img{
    width: 200px;
}